<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="LocalDomainURI" value="GC://x.x.x.x" />
    <add key="LocalDomainUser" value="binding-username" />
    <add key="LocalDomainPassword" value="binding-password" />
    <add key="ADSearchFilter" value="(&amp;(objectClass=user)(objectCategory=person)(mail={0}))" />
    <add key="MailHost" value="mailhost" />
    <add key="ReplyTo" value="emailaddress" />
    <add key="NotificationsEmail" value="emailaddress" />
    <add key="AesKey" value="AESKEY"/>
    <add key="AesIV" value="AES IV"/>
    <add key="SessionTTL" value="2"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="ADWS.Adws">
        <endpoint address="rest" behaviorConfiguration="webBehaviour"
          binding="webHttpBinding" name="RESTEndPoint" contract="ADWS.IAdws" />
        <endpoint address="soap" binding="basicHttpBinding" name="SOAPEndPoint"
          contract="ADWS.IAdws" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webBehaviour">
          <webHttp  helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="webHttpBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true"/>
    </security>
    <modules runAllManagedModulesForAllRequests="true"/>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
      </customHeaders>
    </httpProtocol>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
